/* eslint-disable */
/* @csstools/postcss */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #00d558;
  --gray-light: #ededed;
  --gray-medium: #e0e0e0;
}

body {
  background-color: #f7f7f7;
  color: #171717;
  font-family: var(--font-geist-sans, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.graph-bar {
  background-color: var(--primary);
  width: 4px;
  border-radius: 2px;
  margin-right: 2px;
}
